<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
 -->
    <title>Телефонный справочник</title>
</head>
<!-- <body style="background-color: #AFAFAF"> -->
<body style="background-color: #979CAB;">

<nav class="navbar navbar-light" style="background-color: #405798; border: 5px solid white; border-radius: 10px;">
  <div class="container-fluid">
    <a class="navbar-brand" style="font-size: x-large; color: white;">Телефонный справочник</a>
    <form class="d-flex">
      <a href="new/" style="color: white;">Создать новый контакт</a>

    </form>
  </div>
</nav>

{% for contact in res %}
<div class="container" style="background-color: white; margin: 1rem auto; border: 5px solid #405798; border-radius: 10px; text-indent: 1.5em;">
  <div class="row">
    <div class="col">
      <p>
        <h1>{{ contact.second_name }} {{ contact.first_name }} {{ contact.fathers_name }}</h1>
      </p>
      <p>
        <div style="color: black;">
          <b>Организация:</b> <span style="color: blue; font-size: x-large;">{{ contact.company }}</span>
        </div>
        <div style="color: black;"> 
          <b>Должность:</b> <span style="color: blue; font-size: x-large;">{{ contact.job_title }}</span> 
        </div>

      </p>
      <div style="color: black;">
        <div>
          <a href="tel:{{ contact.phone1 }}" style="color: blue; font-size: x-large;">{{ contact.phone1 }}</a>
        </div>
        <div>
          <a href="tel:{{ contact.phone2 }}" style="color: blue; font-size: x-large;">{{ contact.phone2 }}</a>
        </div>
        <div>
          <a href="tel:{{ contact.phone3 }}" style="color: blue; font-size: x-large;">{{ contact.phone3 }}</a>
        </div>    
      </div>
      <p>
      <div style="color: black;">
        <b>Электронная почта:</b> <span><a href="mailto:{{ contact.email }}" style="color: blue; font-size: x-large;">{{ contact.email }}</a></span> 
      </div> 
      </p>
      <p>
      <div style="color: black;">
        <b>Адрес:</b>  <span style="color: blue; font-size: x-large;"> {{ contact.address }} </span>
      </div>  
      </p>
      <p>
      <div style="color: black;">
        <b>Дополнительно:</b> <span style="color: blue; font-size: x-large;"> {{ contact.more }} </span>
      </div> 
      </p>
      <table class="text" style="width: 100%">
        <tr>
          <td style="text-align: left; width: 50%;">
            <a href="update?id={{ contact.id }}" style="color: #3B810E;">Изменить контакт</a>
          </td>
          <td style="text-align: right; width: 50%;">
            <a href="remove?id={{ contact.id }}" style="color: #C6002D;">Удалить контакт</a>
          </td>
        </tr>
      </table>



  </div>
</div>
</div>
{% endfor %}
</body>
</html>