<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Remove contact</title>
</head>

<form method="post" enctype="multipart/form-data" action="/phone_book/remove/">
    {% csrf_token %}
    <h1>Вы действительно хотите удалить контакт</h1>
    <div>
        <p>Фамилия: {{ res.second_name }}</p>
    </div>
    <div>
        <p>Имя: {{ res.first_name }}</p>
    </div>
    <div>
        <p>Отчество: {{ res.fathers_name }}</p>
    </div>
    <div>
        <p>Телефон1: {{ res.phone1 }}</p>
    </div>
    <div>
        <p>Телефон2: {{ res.phone2 }}</p>
    </div>
    <div>
        <p>Телефон3: {{ res.phone3 }}</p>
    </div>
    <div>
        <p>email: {{ res.email }}</p>
    </div>
    <div>
        <p>Компания: {{ res.company }}</p>
    </div>
    <div>
        <p>Должность: {{ res.job_title }}</p>
    </div>
    <div>
        <p>Адрес: {{ res.address }}</p>
    </div>
    <div>
        <p>Дополнительно: {{ res.more }}</p>
    </div>

    <input type="hidden" id="id" name="id" value={{ res.id }}>
    <input id="submit" type="submit" value="Удалить">


</form>



<body>
<h1>Hello</h1>
</body>
</html>